<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">

          <div class="card-header">
            <h3 class="card-title">Vídeo</h3>
          </div>

          <%= simple_form_for([:admins_backoffice, tag], url: tag.new_record? ? admins_backoffice_tags_path : admins_backoffice_tag_path(tag)) do |f| %>
            <div class="card-body">

              <div class="form-group">
                <label>Título</label>
                <%= f.input :name, label: false,
                            input_html: { class:"form-control", placeholder:"Enter nome" } %>
              </div>

              <div class="form-group">
                <label>Descrição</label>
                <%= f.input :description, label: false,
                            input_html: { class:"form-control", placeholder:"Enter description" } %>
              </div>

            </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-outline-success">Salvar</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>